* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg-color: white; /*#e3f3f1;/*#F7F7F7; /* #EFFFF6; /*#f0fff1;*/
    --second-bg-color: #49A078; /*#8367c7; /* #5603ad; */
    --text-color: #216869; /*#49A078; /*#31493C ; */
    --main-color: #9CC5A1; /*#b3e9c7; */

}
/*
.content{
    width: 90%;
    height: 90%;
    background-color: var(--bg-color);
    box-shadow: 0 0 0 10px white;
}*/
html{
    font-size: 60%;
    overflow-x: hidden;
    box-sizing: border-box;
}
body{
    background: var(--bg-color); /* bg color*/
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /*box-shadow: inset 0 0 0 30px white;*/
    box-sizing: border-box;
    border: 20px solid white;
}
/* ------ new for about me vertical scrolling ------*/

.slide {
    height: 100vh;
    width: 100vw;
}

.slide:nth-child(1){
    background-color: var(--second-bg-color);
}
.slide:nth-child(2){
    background-color: var(--bg-color);
}
.wrapper {
    display: flex;
    width: 200vw;
    transform: rotate(90deg) translateX(-100vh);
    transform-origin: top left;
    background-color: var(--bg-color);
}
.container {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}
.layer {
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
}
.l1 {
    background-image: url(image1.png);
}
.l2 {
    background-image: url(image2.jpeg);
}
.l3 {
    background-image: url(image1.jpg);
}

/*NNUUUUUUUUUUUUUUUUUUUUUUUUUWEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE DEEEEEEEEEEEEEEEEEEEEEEEEEEEEL*/

.section {
    padding: 20px;
    height: 100vh; /* Full viewport height */
    box-sizing: border-box;
}

.horizontal-scroll-section {
    height: 100vh; /* Ensure this section takes full viewport height */
    position: relative;
    overflow: hidden;
}

.horizontal-scroll {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-container {
    display: flex;
    height: 100%;
    transition: transform 0.2s ease-out;
}

.scroll-container img {
    width: 100vw; /* Each image takes full viewport width */
    height: auto;
    display: block;
}


/*NNUUUUUUUUUUUUUUUUUUUUUUUUUWEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE DEEEEEEEEEEEEEEEEEEEEEEEEEEEEL klaaaaaaaaaaaaaaaaaaar*/






.sticky_parent{
    height: 200vh;
}
.sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}
.scroll_section{
    position: relative;
    top: 0;
    height: 100%;
    width: calc(100vw * 2); /*was 2*/
    will-change: transform;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5vw;
    
}
.scroll_section img{
    padding-top: 100px;
    padding-right: 10px;
    /*width: 400px;*/
    height: 80%;
    width: auto;
    object-fit: cover;
    object-position: center;   
    padding-right: 30vw;
}
/*
.about-img img:first-of-type {
    width: 300px;
    height: auto;
    object-fit: contain;
}*/
.about_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
.item-1 {
    grid-column: span 4;
}
.about_grid_item {
    grid-column: 4;
}
/*END*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    opacity: 0.9;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;

}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);

}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}
.navbar a:hover,
.navbar a.active{
    color: var(--bg-color);
    border-bottom: 3px solid var(--bg-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    flex: 1;
    padding: 10px;
}
.svg-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10rem;
    padding: 10px;
    padding-top: 30vh;
    
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
/*
.home-img{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    -webkit-border-radius: 5px;
    border-radius: 50%;
    /*box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
*/
/*.home-img img:hover{
    box-shadow:  0 0 25px var(--main-color),
                 0 0 50px var(--main-color),
                 0 0 100px var(--main-color);
}

*/
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
svg{
    transform: scale(3);
    transform-origin: center;
    /*margin-top: 100px;*/
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;

}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25 px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--text-color);
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Software Developer";
    }
    21%,
    40%{
        content: "Capitec Bursar";
    }
    41%,
    60%{
        content: "Final Year Student";
    }
    61%,
    80%{
        content: "Female in STEM";
    }
    81%,
    100%{
        content: "94% Averager";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.about{
    margin-top: 0;
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    text-align: center;
    align-items: center;
    align-content: center;
    
}
.about h2{
    margin-top: 5rem;
}
.about img{
    
    height: auto;
    width: 50%;
    /*border-radius: 5em;
    transition: 0.5s ease;
    margin-right: 30px;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 5px var(--main-color),
                0 0 25px var(--main-color);*/
}
/*
.about img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
*/
.main{
    width: 100vw;
    /*max-width: 95%;*/
    margin: 0 auto;
    display: grid;
    justify-items: center;
    /*align-items: center;
    justify-content: space-around;*/
    /*grid-template-columns: repeat(2, 1fr);
    gap: 20px;*/
}
.grid-item{
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.grid-item img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.grid-item.about-text-item{
    max-width: 80%;
    border: none;
    transition: none;
}
.about-text-item{

    color: var(--second-bg-color);
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4em;
    /*margin-left: 30px;*/
    justify-items: center;
    text-align: center; /* Center the text */
    width: 100%; /* Ensure the element takes the full width of the parent */


    max-width: 80%;
}


.main > .grid-item:nth-child(3) {
    grid-column: 1 / 3;
}

.main > .grid-item:nth-child(4) {
    grid-column: 1 / 2;
}

.main > .grid-item:nth-child(5) {
    grid-column: 2 / 3;
}

.main > .grid-item:nth-child(6) {
    grid-column: 1 / 2;
}
.main > .grid-item:nth-child(7) {
    grid-column: 2 / 3;
}
.about-text h1{
    color: var(--text-color);
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 30px;
}
.about-text h5{
    color: var(--second-bg-color);
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4em;
    /*margin-left: 30px;*/
    justify-items: center;
    text-align: center;
}
.about-text-item p{
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 30px;
    text-align: justify;
}
.about-text-item {
    border: none;
    transition: none;
}
.resume{
    padding: 100px 15px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resume-btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25 px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    align-self: center;
}
.resume-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}




.resume h2{
    margin-bottom: 5rem;
    text-align: center;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color);
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: var(--second-bg-color);
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.skills{
    width: 80%;
    /*max-width: 800px;*/
    /*padding: 100px 15px;*/
    align-items: center;
    background: var(--bg-color);
    /* */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.skilss h2{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.skill{
    align-items: left;
    width: 100%;
    position: relative;
    /*left: 10%;*/
}
/**/
.skills-columns{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.column{
    flex: 1; /*columns take equal width*/
    margin-bottom: 20px;
    flex-direction: column;
}
.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 20px;
    width: 100%;
    background: var(--main-color);
    border-radius: 3px;
    position: relative;
}

.skill-per{
    height: 100%;
    background: var(--text-color);
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: var(--text-color);
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    color: var(--bg-color);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--text-color);
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.services{
    background: var(--bg-color);
    color: var(--text-color);
    width: 100vw;
    margin: 0 auto;
}
.services h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}
.services-container{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 4rem;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1rem;
}
.service-box{
    flex: 1 1 calc(50% - 1rem);
    background-color: var(--bg-color);
    height: 300px;
    border-radius: 3rem;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.service-box:hover{
    background: var(--bg-color);
    color: var(--text-color);
    border: 4px solid var(--main-color);
    box-shadow: 0 0 40px var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
    color: var(--second-bg-color);
    margin-top: 0;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin-bottom: 0;
    flex-grow: 1;
}

/*PROJECTS*/


.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);

}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact-input:focus{
    border: 2px solid var(--text-color);
}

.contact form .btn{
    margin-top: 2rem;
}

/*\\
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: var(white);
    border-radius: 50px;
}*/
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--text-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow:  0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;

}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    body{
        border: 15px solid white;
    }
}

@media (max-width:991px) {
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .services{
        padding-bottom: 7rem;
    }
    .projects .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
    body{
        border: 10px solid white;
    }

}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: var(--bg-color);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a:hover,
    .navbar a.active{
        color: var(--text-color);
        border-bottom: 3px solid var(--text-color);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--second-bg-color);
    }
    .home{
        flex-direction: column;
        gap: 3rem;
        /*
        flex-direction: column-reverse;
        margin: 5rem 4rem;
        */
    }
    .svg-content{
        margin-top: 0;
        padding-top: 160px;
        padding-left: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .home-content, .svg-content{
        flex: none;
    }



    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }

    .about-text-item {
        text-align: center;
        padding-left: none;
        margin-left: none;
        padding-right: 5vw;
    }
    .grid-item p{
        text-align: center;
        padding-right: 5vw;
    }

    .skills-columns {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
    }
    .column {
        flex: none;
        margin: 0;
        padding: 0;
        width: 70vw;
    }
    .skill-bar {
        width: 100%;
    }
    /* OU SERVICES
    .services h2{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(1,1fr);
    }*/

    .services {
        padding: 2rem 1rem; /* Adjust padding for smaller screens */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the content horizontally */
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 4rem; /* Adjust gap between items */
        width: 80%; /* Ensure it takes the full width */
        max-width: 100vw; /* Optional: Add a max-width to prevent overly wide content */
        margin: 0 auto; /* Center the container horizontally */
    }

    .service-box {
        height: auto; /* Allow height to adjust based on content */
        padding-bottom: 10px; /* Adjust padding */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-right: none;
        padding-left: none;
    }

    .service-info {
        padding: none; /* Adjust padding inside service-info */
        text-align: center; /* Center text for smaller screens */
        max-height: none; /* Remove any height constraints */
    }

    .service-info h4 {
        font-size: 2.5rem; /* Adjust font size */
        margin-bottom: 1rem; /* Adjust margin */
        line-height: 1.2;
    }

    .service-info p {
        font-size: 1.4rem; /* Adjust font size */
    }
    
    body{
        border: 5px solid white;
    }

    /*PROJECTS*/

    .projects {
        padding: 2rem 1rem; /* Adjust padding for smaller screens */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the content horizontally */
    }
    .grid-container {
        display: flexbox;
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
        gap: 4rem; /* Adjust gap between items */
        width: 80%; /* Ensure it takes the full width */
        max-width: 100vw; /* Optional: Add a max-width to prevent overly wide content */
        margin: 0 auto; /* Center the container horizontally */
    }
    .grid-item {
        height: auto; /* Allow height to adjust based on content */
        padding-bottom: 10px; /* Adjust padding */
        box-sizing: border-box; /* Ensure padding and border are included in the width */
        padding-right: none;
        padding-left: none;

    }
}


/*Make sure that padding behaves as expected 
* {box-sizing:border-box}

/* Container for skill bars 
.container {
  width: 100%; /* Full width 
  background-color: #ddd; /* Grey background 
}

.skills {
  text-align: right; /* Right-align text 
  padding-top: 10px; /* Add top padding 
  padding-bottom: 10px; /* Add bottom padding 
  color: white; /* White text color 
}

.html {width: 90%; background-color: #04AA6D;} /* Green */


/*-----------------------------------------------------------------------------*/ 

.girl-with-curly-hair {
    position: relative;
    width: 100px;
    height: 200px;
    margin: 20px auto;
}

.head {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #FDD7B7; /* Skin color */
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.hair {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 80px;
    height: 80px;
    background-color: #3C1C07; /* Hair color */
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 0 0 10px #3C1C07,
                10px 10px 0 10px #3C1C07,
                -10px 10px 0 10px #3C1C07;
}

.hair-left, .hair-right {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    background-color: #3C1C07; /* Hair color */
    border-radius: 50%;
    z-index: 2;
}

.hair-left {
    left: -15px;
    box-shadow: 10px 10px 0 0 #3C1C07;
}

.hair-right {
    right: -15px;
    box-shadow: -10px 10px 0 0 #3C1C07;
}

.eye {
    position: absolute;
    top: 20px;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    z-index: 3;
}

.eye.left {
    left: 20px;
}

.eye.right {
    right: 20px;
}

.mouth {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 20px;
    height: 10px;
    background-color: #E57373;
    border-radius: 0 0 10px 10px;
    transform: translateX(-50%);
    z-index: 3;
}

.body {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 40px;
    height: 100px;
    background-color: #FFA07A;
    border-radius: 20px 20px 0 0;
    transform: translateX(-50%);
    z-index: 0;
}


/*--------------PROJECTS*/
.projects{
    padding: 100px 15px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;*/
    width: 100%;
    /*height: auto;
    
    padding: 16px;
    max-width: 1200px;

    box-sizing: border-box;*/
    align-content: center;

    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.grid-item {
    background-color: var(--bg-color);
    overflow: hidden;
    
    
    transition: transform 0.2s;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
}
.grid-item img{
    width: 100%;
    height: 100%;
    /*display: block;
    padding-top: 80px;*/
    object-fit: cover;
    border: 5px solid var(--main-color);
    border-radius: 5px;
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-color); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.grid-item:hover .overlay {
    opacity: 0.95;
}

.overlay-text {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.grid-item:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.grid-item.about-text-item:hover{
    border: none;
    box-shadow: none;
    transition: none;
    transform: none;
    /*transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);*/
}


.grid-item a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}
